@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, select, option {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, iframe {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************
    Button
*******************************/
.btn {
  display: inline-block;
  padding: 0 15px;
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 31px;
  vertical-align: middle;
}

.btn-lg {
  font-size: 30px;
  line-height: 60px;
}

.btn-primary {
  border: 1px solid #286cdb;
  background-color: #286cdb;
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
}

.btn-second {
  border: 1px solid #ff8b02;
  background-color: #ff8b02;
  color: #fff;
}

.btn-second:hover {
  color: #fff;
}

.btn-gray {
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
}

.btn-gray:hover {
  color: #fff;
}

.btn-align-center {
  text-align: center;
}

/*******************************
    Image Button
*******************************/
.btn-search {
  display: inline-block;
  background: url("../images/sprite-icon.png") no-repeat 0 0;
  line-height: 0;
  color: transparent;
  width: 16px;
  height: 17px;
}

.btn-calendar {
  display: inline-block;
  background: url("../images/sprite-icon.png") no-repeat -160px 0;
  line-height: 0;
  color: transparent;
  width: 30px;
  height: 27px;
  vertical-align: -6px;
}

/*******************************
    Form
*******************************/
.form-control {
  border: 1px solid #aaa;
  height: 33px;
  line-height: 31px;
  vertical-align: middle;
}

.radiobox {
  margin-right: 50px;
}

.radiobox input[type=radio], .radiobox input[type=checkbox] {
  margin-right: 12px;
  vertical-align: 2px;
}

/*Selectbox*/
.selectbox {
  position: relative;
  display: inline-block;
  border: 1px solid #aaa;
  background-color: #fff;
  text-align: left;
}

.selectbox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.selectbox .selectbox-value {
  display: block;
  padding: 0 30px 0 10px;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.85;
}

.selectbox .selectbox-value:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  display: inline-block;
  width: 19px;
  height: 18px;
  margin: auto;
  background: url("../images/sprite-icon.png") no-repeat -360px 0;
  line-height: 0;
  color: transparent;
  vertical-align: middle;
  content: '';
}

/*******************************
    Table
*******************************/
.table {
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid #333333;
}

.table th, .table td {
  border: 1px solid #ddd;
  font-family: "MalgunGothic", "맑은 고딕", sans-serif;
}

.table th {
  padding: 13px 0 10px;
  background-color: #fafafa;
  font-size: 20px;
}

.table td {
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.table td.align-left {
  text-align: left;
}

.table.table-important td {
  font-weight: bold;
  font-size: 20px;
}

.table.table-fixed {
  table-layout: fixed;
}

.table-vertical td {
  padding-left: 20px;
  text-align: left;
}

.table-search th, .table-search td {
  border-color: #aaa;
}

.table-search th {
  padding: 20px 0 16px;
  background-color: #ebebeb;
}

.table-search td {
  padding-left: 20px;
  text-align: left;
}

/* Pagination */
.pagination {
  margin: 85px 0 -100px;
  text-align: center;
}

.pagination .page {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 1px;
  border: 1px solid #d4d4d4;
  font: bold 18px/34px "MalgunGothic", "맑은 고딕", sans-serif;
  color: #333;
  text-align: center;
  cursor: pointer;
  line-height: 28px\9;
}

.pagination .page.active, .pagination .page:hover {
  border-color: #777;
  color: #286cdb;
}

/*******************************
    Scaffolding
*******************************/
body {
  background-color: white;
  font: 400 14px "Nanum Gothic", sans-serif;
}

a,
a:hover {
  color: #666;
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/*******************************
    Layout
*******************************/
.wrap {
  width: 100%;
  min-width: 1200px;
}

.wrap:before, .wrap:after {
  content: " ";
  display: table;
}

.wrap:after {
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto 224px;
}

/*******************************
    Header
*******************************/
.header {
  padding-top: 14px;
}

.header .header-inner {
  width: 1200px;
  margin: 0 auto;
}

.header .header-inner:before, .header .header-inner:after {
  content: " ";
  display: table;
}

.header .header-inner:after {
  clear: both;
}

.header .logo {
  float: left;
}

.header .logo a {
  display: block;
  width: 399px;
  height: 49px;
  background: url("../images/logo.png") no-repeat 0 0;
}

.header .quick-access {
  float: right;
  margin-top: 10px;
}

.header .quick-access .access-link {
  float: left;
  margin: 5px 18px 5px 0;
}

.header .quick-access .access-link li {
  display: inline-block;
  font-size: 12px;
}

.header .quick-access .access-link li:before {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px 0 6px;
  background-color: #838383;
  border-right: 1px solid #c7c7c7;
  vertical-align: -1px;
  content: '';
}

.header .quick-access .access-link li:first-child:before {
  width: 0;
  border-right: 0;
}

.header .quick-access .search-box {
  float: left;
  padding: 4px 24px 4px 4px;
  border: 1px solid #ddd;
}

.header .quick-access .search-box .form-control {
  line-height: 17px;
}

.sub-top {
  height: 432px;
  margin-top: 18px;
  background: url("../images/bg-gnb.jpg") no-repeat 50% 0;
}

.sub-top .gnb-wrap {
  max-width: 1900px;
  margin: 0 auto;
  background-color: rgba(255, 139, 2, 0.3);
}

.sub-top .gnb-wrap .gnb {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.sub-top .gnb-wrap .gnb:before, .sub-top .gnb-wrap .gnb:after {
  content: " ";
  display: table;
}

.sub-top .gnb-wrap .gnb:after {
  clear: both;
}

.sub-top .gnb-wrap .gnb li {
  float: left;
  width: 20%;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.sub-top .gnb-wrap .gnb li a {
  color: #333;
}

.sub-top .gnb-wrap .gnb li.active a, .sub-top .gnb-wrap .gnb li:hover a {
  color: #fff;
}

.sub-top .sub-text {
  width: 1200px;
  margin: 170px auto 0;
  font-weight: bold;
  font-size: 40px;
  color: #666;
}

.sub-top .sub-text strong {
  display: block;
  margin-top: 5px;
  font-size: 57px;
  color: #ff8b02;
}

/*******************************
    Footer
*******************************/
.footer {
  padding: 30px 0;
  background-color: #393939;
}

.footer .footer-inner {
  width: 1200px;
  margin: 0 auto;
}

.footer .footer-inner:before, .footer .footer-inner:after {
  content: " ";
  display: table;
}

.footer .footer-inner:after {
  clear: both;
}

.footer .foot-logo {
  float: left;
  display: block;
  width: 265px;
  height: 46px;
  background: url("../images/foot-logo.png") no-repeat 0 0;
}

.footer .foot-info {
  float: left;
  margin-left: 90px;
}

.footer .foot-info, .footer .foot-info a {
  color: #ddd;
}

.footer .foot-info .foot-link {
  margin-bottom: 15px;
}

.footer .foot-info .foot-link:before, .footer .foot-info .foot-link:after {
  content: " ";
  display: table;
}

.footer .foot-info .foot-link:after {
  clear: both;
}

.footer .foot-info .foot-link li {
  float: left;
  font-size: 13px;
}

.footer .foot-info .foot-link li:before {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  border-right: 1px solid #656565;
  background-color: #c7c7c7;
  content: '';
}

.footer .foot-info .foot-link li:first-child:before {
  width: 0;
  margin: 0;
  border-right: 0;
}

.footer .foot-info .foot-link li.privacy a {
  color: #04cafc;
}

.footer .foot-info dl:before, .footer .foot-info dl:after {
  content: " ";
  display: table;
}

.footer .foot-info dl:after {
  clear: both;
}

.footer .foot-info dl dt, .footer .foot-info dl dd {
  float: left;
  line-height: 25px;
}

.footer .foot-info dl dd:before {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  border-right: 1px solid #656565;
  background-color: #c7c7c7;
  content: '';
}

.footer .foot-info dl dd:nth-of-type(1):before {
  width: 0;
  margin: 0;
  border-right: 0;
}

.footer .foot-info dl dd address {
  display: inline-block;
  font-style: normal;
}

/*******************************
    Common
*******************************/
.section {
  margin-bottom: 80px;
}

.border-box {
  border: 1px solid #ddd;
  border-top: 2px solid #333;
}

.title-box {
  padding: 80px 0 50px;
}

.title-box:before, .title-box:after {
  content: " ";
  display: table;
}

.title-box:after {
  clear: both;
}

.title-box .page-title {
  float: left;
}

.title-box .location {
  float: right;
}

.page-title {
  font-size: 50px;
}

.second-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "MalgunGothic", "맑은 고딕", sans-serif;
}

.second-title:before {
  display: inline-block;
  background: url("../images/sprite-icon.png") no-repeat -200px 0;
  line-height: 0;
  color: transparent;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  vertical-align: -5px;
  content: '';
}

.location {
  margin-top: 35px;
}

.location li {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

.location li:before {
  display: inline-block;
  margin: 0 10px 0 8px;
  color: #888;
  content: '>';
}

.location li a {
  color: #888;
}

.location li.home {
  text-transform: capitalize;
}

.location li.home:before {
  display: inline-block;
  background: url("../images/sprite-icon.png") no-repeat -120px 0;
  line-height: 0;
  color: transparent;
  width: 19px;
  height: 17px;
  margin-right: 5px;
  vertical-align: -2px;
  content: '';
}

.location li.current a {
  color: #333;
}

.search-box {
  position: relative;
  display: inline-block;
  padding: 4px 24px 4px 4px;
  border: 1px solid #aaa;
  vertical-align: middle;
}

.search-box .form-control {
  border-width: 0;
  line-height: 23px;
}

.search-box .btn-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto;
}

.tab-wrap {
  background: url("../images/bg-tab.jpg") no-repeat 50% 0;
}

.tab-wrap .tab {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 1200px;
  margin: 0 auto;
}

.tab-wrap .tab li {
  display: table-cell;
  border: 2px solid #ddd;
}

.tab-wrap .tab li a {
  display: block;
  height: 50px;
  font: bold 18px/54px "MalgunGothic", "맑은 고딕", sans-serif;
  color: #333;
  text-align: center;
  line-height: 48px\9;
}

.tab-wrap .tab li:hover, .tab-wrap .tab li.active {
  background-color: #ff8b02;
}

.tab-wrap .tab li:hover a, .tab-wrap .tab li.active a {
  color: #fff;
}

.tabs {
  margin: 0 -2px 50px;
}

.tabs:before, .tabs:after {
  content: " ";
  display: table;
}

.tabs:after {
  clear: both;
}

.tabs li {
  float: left;
  width: 10%;
  padding: 0 2px;
}

.tabs li a {
  display: block;
  padding: 9px 0 6px;
  border: 1px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
  background-color: #f3f3f3;
  font: bold 18px "MalgunGothic", "맑은 고딕", sans-serif;
  color: #333;
  letter-spacing: -1.3px;
  text-align: center;
  padding: 6px 0 9px\9;
  font-size: 17px\9;
  letter-spacing: -2.7px\9;
}

.tabs ~ .tab-content {
  display: none;
}

.tabs ~ .tab-content.regional1, .tabs ~ .tab-content.industry1 {
  display: block;
}

.page-text {
  margin-bottom: 50px;
  font: bold 22px "MalgunGothic", "맑은 고딕", sans-serif;
}

.image-shadow {
  -webkit-box-shadow: 2px 4px 11px #777;
  box-shadow: 2px 4px 11px #777;
}

.text-blue {
  color: #015df4;
}

.text-red {
  color: #ff3405;
}

/*******************************
    Main
*******************************/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin: auto;
}

.slick-track:before, .slick-track:after {
  content: " ";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  float: left;
  height: 100%;
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.main-visual {
  position: relative;
  min-width: 1200px;
  margin-top: 28px;
  border-top: 1px solid #ccc;
}

.main-visual .slick-slide {
  height: 410px;
  background-position: 50% 0;
}

.main-visual .slick-dots {
  position: absolute;
  bottom: 10px;
  right: 50%;
  margin-right: -525px;
}

.main-visual .slick-dots li {
  display: inline-block;
  padding: 0 4px;
}

.main-visual .slick-dots li button {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #acacad;
  font-size: 0;
  line-height: 17px;
}

.main-visual .slick-dots li.slick-active button {
  background-color: #73a2ef;
}

.main-gnb {
  width: 1200px;
  margin: 39px auto 0;
}

.main-gnb .gnb-item {
  margin: 0 -19px;
}

.main-gnb .gnb-item:before, .main-gnb .gnb-item:after {
  content: " ";
  display: table;
}

.main-gnb .gnb-item:after {
  clear: both;
}

.main-gnb .gnb-item > li {
  position: relative;
  float: left;
  width: 25%;
  padding: 0 19px;
}

.main-gnb .gnb-item > li > a {
  display: block;
  padding: 45px 0;
  border: 5px solid #ccc;
  background-color: #ffeded;
  font-weight: bold;
  font-size: 21px;
  color: #3e3d3d;
  text-align: center;
}

.main-gnb .gnb-item > li > a:before {
  display: block;
  width: 87px;
  height: 84px;
  margin: 0 auto 25px;
  background: url("../images/sprite-icon.png") no-repeat 0 0;
  content: '';
}

.main-gnb .gnb-item > li.item1 a:before {
  background-position: 0 -40px;
}

.main-gnb .gnb-item > li.item2 a:before {
  background-position: -120px -40px;
}

.main-gnb .gnb-item > li.item3 a:before {
  background-position: 0 -160px;
}

.main-gnb .gnb-item > li.item4 a:before {
  background-position: -120px -160px;
}

.main-gnb .gnb-item .item-depth {
  display: none;
  position: absolute;
  top: 0;
  left: 19px;
  width: 275px;
  height: 100%;
  padding: 45px 14px 45px 115px;
}

.main-gnb .gnb-item .item-depth:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  width: 87px;
  height: 84px;
  margin: auto;
  background: url("../images/sprite-icon.png") no-repeat 0 0;
  content: '';
}

.main-gnb .gnb-item .item-depth strong {
  display: inline-block;
  margin-bottom: 11px;
  padding-bottom: 6px;
  border-bottom: 1px solid #fff;
  font-size: 21px;
  color: #fff;
  letter-spacing: -1px;
}

.main-gnb .gnb-item .item-depth li {
  padding-left: 3px;
  line-height: 24px;
}

.main-gnb .gnb-item .item-depth li:before {
  display: inline-block;
  width: 1px;
  height: 1px;
  margin-right: 8px;
  background-color: #fff;
  vertical-align: super;
  content: '';
}

.main-gnb .gnb-item .item-depth li a {
  font-size: 15px;
  color: #fff;
}

.main-gnb .gnb-item .item-depth li a:hover {
  color: #333;
}

.main-gnb .gnb-item .item1 .item-depth {
  background-color: #ffc96c;
}

.main-gnb .gnb-item .item1 .item-depth:before {
  background-position: 0 -40px;
}

.main-gnb .gnb-item .item2 .item-depth {
  background-color: #bbd484;
}

.main-gnb .gnb-item .item2 .item-depth:before {
  background-position: -120px -40px;
}

.main-gnb .gnb-item .item3 .item-depth {
  background-color: #93b5ed;
}

.main-gnb .gnb-item .item3 .item-depth:before {
  background-position: 0 -160px;
}

.main-gnb .gnb-item .item4 .item-depth {
  background-color: #fa9b85;
}

.main-gnb .gnb-item .item4 .item-depth:before {
  background-position: -120px -160px;
}

.main-gnb .gnb-item > li:hover .item-depth {
  display: block;
}

.main-board {
  width: 1200px;
  margin: 55px auto 0;
}

.main-board:before, .main-board:after {
  content: " ";
  display: table;
}

.main-board:after {
  clear: both;
}

.main-board .board-inner {
  margin: 0 -19px;
}

.main-board .board-box {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 0 19px;
}

.main-board .board-box .more {
  position: absolute;
  top: 0;
  right: 28px;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #fff;
}

.main-board h3 {
  padding: 11px 0 9px;
  text-align: center;
}

.main-board h3:after {
  display: block;
  height: 22px;
  margin: auto;
  background: url("../images/sprite-text.png") no-repeat 0 0;
  content: '';
}

.main-board .board1 h3 {
  background-color: #77aa0a;
}

.main-board .board1 h3:after {
  width: 80px;
  background-position: 0 0;
}

.main-board .board2 h3 {
  background-color: #286cdb;
}

.main-board .board2 h3:after {
  width: 127px;
  background-position: 0 -40px;
}

.main-board .board3 h3 {
  background-color: #fd8a03;
}

.main-board .board3 h3:after {
  width: 73px;
  background-position: 0 -80px;
}

.main-board .board-list {
  margin-top: 15px;
}

.main-board .board-list li {
  padding: 0 10px;
  font-size: 14px;
  line-height: 44px;
}

.main-board .board-list li:before, .main-board .board-list li:after {
  content: " ";
  display: table;
}

.main-board .board-list li:after {
  clear: both;
}

.main-board .board-list li a {
  display: block;
  overflow: hidden;
  float: left;
  width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-board .board-list li .date {
  float: right;
  font-size: 13px;
}

.main-department {
  position: relative;
  width: 1200px;
  margin: 60px auto 114px;
  padding: 0 50px;
}

.main-department .slick-slide {
  text-align: center;
}

.main-department .slick-arrow {
  position: absolute;
  top: 8px;
  width: 14px;
  height: 25px;
  background: url("../images/sprite-icon.png") no-repeat 0 0;
  font-size: 0;
}

.main-department .slick-prev {
  left: 0;
  background-position: -40px 0;
}

.main-department .slick-next {
  right: 0;
  background-position: -80px 0;
}

/*******************************
    연합회소개
*******************************/
.greeting .slogan {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 60px;
}

.greeting .slogan strong {
  color: #02a6fd;
}

.greeting .image-president {
  float: right;
  padding: 40px 28px 50px 50px;
}

.greeting .image-president img {
  -webkit-box-shadow: 7px 7px 14px #dcd2c6;
  box-shadow: 7px 7px 14px #dcd2c6;
}

.greeting .text-greeting {
  font-size: 20px;
  line-height: 36px;
  color: #444;
}

.greeting .text-greeting p {
  margin-bottom: 40px;
}

.greeting .text-greeting .president-name {
  float: right;
  margin-top: 25px;
  font-size: 32px;
  color: #000;
}

.history {
  border-bottom: 1px solid #eee;
}

.history dd {
  position: relative;
  display: table;
  width: 100%;
  min-height: 185px;
  padding-left: 200px;
  border-top: 1px solid #eee;
}

.history dd .year {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 125px;
  height: 125px;
  margin: auto;
  border: 9px solid #01a7fd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #555864;
  font-weight: bold;
  font-size: 27px;
  line-height: 3.96;
  color: #fff;
  text-align: center;
}

.history dd .year.history19 {
  border-color: #9fd817;
}

.history dd .history-list {
  display: table-cell;
  padding: 15px 0;
  vertical-align: middle;
}

.history dd .history-list li {
  font-size: 20px;
  line-height: 30px;
  color: #444;
}

.history dd .history-list li span {
  display: inline-block;
  width: 135px;
}

.organization {
  padding: 100px 0 245px;
  border: 2px solid #eee;
  background: url("../images/organization-bg-gradient.gif") repeat-x 0 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 1px 5px 15px 0px #cdcdcd;
  box-shadow: 1px 5px 15px 0px #cdcdcd;
}

.organization:before {
  display: block;
  width: 1055px;
  height: 603px;
  margin: 0 auto;
  background: url("../images/organization.jpg") no-repeat 0 0;
  content: '';
}

.map {
  width: 1200px;
  height: 463px;
  border: 1px solid #ddd;
}

.contact-box {
  margin-top: 55px;
}

.contact-box .second-title {
  font-size: 35px;
}

.contact-box .second-title:before {
  width: 36px;
  height: 37px;
  background-position: -240px 0;
}

.contact-box .contact-list {
  margin-top: 10px;
  padding-left: 42px;
  font-size: 20px;
  line-height: 45px;
  color: #333;
}

/*******************************
    회원현황
*******************************/
.classify-content.industry {
  display: none;
}

/*******************************
    교육안내 및 신청
*******************************/
.edu-purpose {
  width: 1200px;
  height: 904px;
  margin: 60px 0 167px;
  background: url("../images/purpose1.jpg") no-repeat 0 0;
}

.edu-direction {
  width: 1200px;
  height: 1336px;
  background: url("../images/purpose2.jpg") no-repeat 0 0;
}

.info-content {
  padding-left: 57px;
}

.info-content li {
  font-size: 20px;
  line-height: 30px;
  color: #555;
  text-indent: -24px;
}

.info-content li:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 13px solid #77aa0a;
  content: '';
}

.apply-process {
  width: 1200px;
  height: 227px;
  margin-top: 35px;
  background: url("../images/apply-process.jpg") no-repeat 0 0;
}

.btn-apply-box .btn {
  width: 160px;
}

.apply-complete-wrap {
  margin: 150px 0 100px;
}

.apply-complete {
  width: 912px;
  margin: 0 auto 50px;
  padding: 88px 70px 70px;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background: url("../images/bg-gradient.gif") repeat-x 0 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  color: #333;
}

.apply-complete:before, .apply-complete:after {
  content: " ";
  display: table;
}

.apply-complete:after {
  clear: both;
}

.apply-complete:before {
  float: left;
  display: inline-block;
  width: 292px;
  height: 223px;
  margin: -20px 55px 0 0;
  background: url("../images/icon-computer.png") no-repeat 0 0;
  content: '';
}

.apply-complete strong {
  font-size: 25px;
}

/*******************************
    커뮤니티
*******************************/
.board-search {
  float: right;
  margin: 60px 0 20px;
}

.board-search .selectbox {
  float: left;
}

.board-search .selectbox .selectbox-value {
  font-size: 16px;
  line-height: 1.94;
}

.board-search .search-input {
  float: left;
  margin-left: 10px;
}

.board-search .search-input .form-control {
  width: 208px;
}

td.subject {
  padding-left: 17px;
  padding-right: 17px;
  text-align: left;
}

td.subject a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attachment {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../images/sprite-icon.png") no-repeat -320px 0;
  font-size: 0;
  color: transparent;
  vertical-align: top;
}

.image-board {
  clear: both;
  margin: 0 -35px -50px -35px;
}

.image-board:before, .image-board:after {
  content: " ";
  display: table;
}

.image-board:after {
  clear: both;
}

.image-board li {
  float: left;
  width: 25%;
  padding: 0 37px 50px 37px;
  font-size: 20px;
}

.image-board li:nth-child(4n+1) {
  clear: left;
}

.image-board li img {
  width: 100%;
  border: 1px solid #ddd;
}

.image-board li .title {
  overflow: hidden;
  margin: 10px 0 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.image-board li .date {
  color: #aaa;
}

/*******************************
    Helper Class
*******************************/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}
