/*******************************
    Button
*******************************/
.btn {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    vertical-align: middle;
}
.btn-sm {}
.btn-md {
    font-size: 20px;
    line-height: 50px;
}
.btn-lg {
    font-size: 30px;
    line-height: 60px;
}
.btn-primary {
    border: 1px solid #286cdb;
    background-color: #286cdb;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
.btn-second {
    border: 1px solid #ff8b02;
    background-color: #ff8b02;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
.btn-gray {
    border: 1px solid #666;
    background-color: #666;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
.btn-arrow {
    &:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 20px;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left: 16px solid #fff;
        vertical-align: text-top;
        content: '';
    }
}
.btn-align-center {
    text-align: center;
}
.btn-align-right {
    text-align: right;
}

/*******************************
    Image Button
*******************************/
.btn-search {
    @include sp-icon(0,0);
    @include sp-size(16px,17px);
}
.btn-calendar {
    @include sp-icon(-160px,0);
    @include sp-size(30px,27px);
    vertical-align: -6px;
}