/*******************************
    Form
*******************************/
.form-control {
    border: 1px solid #aaa;
    height: 33px;
    font-family: $font-family-base;
    line-height: 31px;
    vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
    vertical-align: middle;
}
select {
    border: 2px solid #aaa;
    background-color: #fff;
    font-family: $font-family-base;
}
.radiobox {
    margin-right: 50px;
    input[type=radio], input[type=checkbox] {
        margin-right: 12px;
        vertical-align: 2px;
    }
}
/* select box */
.selectbox {
    position: relative;
    display: inline-block;
    border: 1px solid #aaa;
    background-color: #fff;
    text-align: left;
    select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .selectbox-value {
        display: block;
        padding: 0 30px 0 10px;
        background-color: #fff;
        font-weight: 400;
        line-height: 1.85;
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 4px;
            display: inline-block;
            width: 19px;
            height: 18px;
            margin: auto;
            background: url("../images/sprite-icon.png") no-repeat -360px 0;
            line-height: 0;
            color: transparent;
            vertical-align: middle;
            content: '';
        }
    }
}