/*******************************
    Table
*******************************/
.table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid $gray-dark;
    th, td {
        border: 1px solid #ddd;
        font-family: $font-family-second;
        vertical-align: middle;
    }
    th {
        padding: 13px 0 10px;
        background-color: #ebebeb;
        font-size: 20px;
    }
    td {
        padding: 15px 0;
        font-size: 18px;
        text-align: center;
        letter-spacing: -1px;
        &.align-left {
            text-align: left;
        }
    }
    &.table-important {
        td {
            font-weight: bold;
            font-size: 20px;
        }
    }
    &.table-fixed {
        table-layout: fixed;
    }
}
.table-vertical {
    td {
        padding-left: 20px;
        text-align: left;
    }
}
.table-search {
    th, td {
        border-color: #aaa;
    }
    th {
        padding: 20px 0 16px;
        background-color: #ebebeb;
    }
    td {
        padding-left: 20px;
        text-align: left;
    }
}
.table-input {
    border-top-width: 4px;
    font-family: $font-family-second;
    th {
        background-color: #fff;
        font-size: 23px;
        color: #333;
    }
    th, td {
        padding-left: 25px;
        border: 2px solid #ddd;
        border-left: 0;
        border-right: 0;
        font-size: 20px;
        color: #555;
        text-align: left;
        vertical-align: middle;
    }
    .form-control {
        height: 50px;
        border: 2px solid #ddd;
        line-height: 46px;
    }
}

/* Pagination */
.pagination {
    margin: 85px 0 -100px;
    text-align: center;
    .page {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0 1px;
        border: 1px solid #d4d4d4;
        font: bold 18px/30px $font-family-second;
        color: #333;
        text-align: center;
        cursor: pointer;
        line-height: 28px\9;
        &.active, &:hover {
            border-color: #777;
            color: #286cdb;
        }
        &.first, &.last, &.prev, &.next {
            color: #286cdb;
        }
    }
}
