// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

// Sprites Icon
@mixin sp-icon($left,$top) {
    display: inline-block;
    background: url("../images/sprite-icon.png") no-repeat $left $top;
    line-height: 0;
    color: transparent;
}
@mixin sp-size($width,$height) {
    width: $width;
    height: $height;
}

// Border Radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
// Border Radius Side
@mixin border-side-radius($edge1, $edge2, $radius) {
    border-#{$edge1}-#{$edge2}-radius: $radius;
    -moz-border-radius-#{$edge1}#{$edge2}: $radius;
    -webkit-border-#{$edge1}-#{$edge2}-radius: $radius;
}

// Box Shadow
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Box Sizing
@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}