@import "variables";
@import "reset";
@import "mixins/mixins";
@import "component/component";

/*******************************
    Scaffolding
*******************************/
body {
    background-color: $body-bg;
    font: 400 $font-size-base $font-family-base;
}
a,
a:hover {
    color: $text-color;
    text-decoration: none;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/*******************************
    Layout
*******************************/
.wrap {
    @include clearfix;
    width: 100%;
}
.content {}

/*******************************
    Header
*******************************/
.header {
    padding: 14px 0 28px;
    border-bottom: 1px solid #ccc;
    .header-inner {
        @include clearfix;
        width: 1200px;
        margin: 0 auto;
    }
    .logo {
        float: left;
        a {
            display: block;
            width: 399px;
            height: 49px;
            background: url("../images/logo.png") no-repeat 0 0;
        }
    }
    .quick-access {
        float: right;
        margin-top: 10px;
        .access-link {
            float: left;
            margin: 5px 18px 5px 0;
            li {
                display: inline-block;
                font-size: 12px;
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 8px 0 6px;
                    background-color: #838383;
                    border-right: 1px solid #c7c7c7;
                    vertical-align: -1px;
                    content: '';
                }
                &:first-child:before {
                    width: 0;
                    border-right: 0;
                }
            }
        }
        .search-box {
            position: relative;
            float: left;
            padding: 4px 24px 4px 4px;
            border: 1px solid #ddd;
            .btn-search {
                position: absolute;
                top:4px;
                right: 4px;
                width: 16px;
                height: 17px;
                background: url("../images/sprite-icon.png") no-repeat 0 0;
            }
        }
    }
}

/*******************************
    Footer
*******************************/
.footer {
    padding: 30px 0;
    background-color: #393939;
    .footer-inner {
        @include clearfix;
        width: 1200px;
        margin: 0 auto;
    }
    .foot-logo {
        float: left;
        display: block;
        width: 265px;
        height: 46px;
        background: url("../images/foot-logo.png") no-repeat 0 0;
    }
    .foot-info {
        float: left;
        margin-left: 90px;
        &, a {
            color: #ddd;
        }
        .foot-link {
            @include clearfix;
            margin-bottom: 15px;
            li {
                float: left;
                font-size: 13px;
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 10px;
                    border-right: 1px solid #656565;
                    background-color: #c7c7c7;
                    content: '';
                }
                &:first-child:before {
                    width: 0;
                    margin: 0;
                    border-right: 0;
                }
                &.privacy {
                    a {
                        color: #04cafc;
                    }
                }
            }
        }
        dl {
            @include clearfix;
            dt, dd {
                float: left;
                line-height: 25px;
            }
            dd {
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 10px;
                    border-right: 1px solid #656565;
                    background-color: #c7c7c7;
                    content: '';
                }
                &:nth-of-type(1):before {
                    width: 0;
                    margin: 0;
                    border-right: 0;
                }
                address {
                    display: inline-block;
                    font-style: normal;
                }
            }
        }
        .copyright {}
    }
}

/*******************************
    Main
*******************************/
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: auto;
    @include clearfix;
}
.slick-slide {
    float: left;
    height: 100%;
    display: none;
    .slick-initialized & {
        display: block;
    }
}
.main-visual {
    position: relative;
    min-width: 1200px;
    .slick-slide {
        height: 410px;
        background-position: 50% 0;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        right: 50%;
        margin-right: -525px;
        li {
            display: inline-block;
            padding: 0 4px;
            button {
                width: 14px;
                height: 14px;
                @include border-radius(50%);
                background-color: #acacad;
                font-size: 0;
                line-height: 17px;
            }
            &.slick-active button {
                background-color: #73a2ef;
            }
        }
    }
}
// 메인 메뉴
.main-gnb {
    width: 1200px;
    margin: 39px auto 0;
    .gnb-item {
        @include clearfix;
        margin: 0 -19px;
        > li {
            position: relative;
            float: left;
            width: 25%;
            padding: 0 19px;
            > a {
                display: block;
                padding: 45px 0;
                border: 5px solid #ccc;
                background-color: #ffeded;
                font-weight: bold;
                font-size: 21px;
                color: #3e3d3d;
                text-align: center;
                &:before {
                    display: block;
                    width: 87px;
                    height: 84px;
                    margin: 0 auto 25px;
                    background: url("../images/sprite-icon.png") no-repeat 0 0;
                    content: '';
                }
            }
            &.item1 a:before {
                background-position: 0 -40px;
            }
            &.item2 a:before {
                background-position: -120px -40px;
            }
            &.item3 a:before {
                background-position: 0 -160px;
            }
            &.item4 a:before {
                background-position: -120px -160px;
            }
        }
        .item-depth {
            display: none;
            position: absolute;
            top: 0;
            left: 19px;
            width: 275px;
            height: 100%;
            padding: 45px 14px 45px 115px;
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 14px;
                width: 87px;
                height: 84px;
                margin: auto;
                background: url("../images/sprite-icon.png") no-repeat 0 0;
                content: '';
            }
            strong {
                display: inline-block;
                margin-bottom: 11px;
                padding-bottom: 6px;
                border-bottom: 1px solid #fff;
                font-size: 21px;
                color: #fff;
                letter-spacing: -1px;
            }
            li {
                padding-left: 3px;
                line-height: 24px;
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 1px;
                    margin-right: 8px;
                    background-color: #fff;
                    vertical-align: super;
                    content: '';
                }
                a {
                    font-size: 15px;
                    color: #fff;
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
        .item1 {
            .item-depth {
                background-color: #ffc96c;
                &:before {
                    background-position: 0 -40px;
                }
            }
        }
        .item2 {
            .item-depth {
                background-color: #bbd484;
                &:before {
                    background-position: -120px -40px;
                }
            }
        }
        .item3 {
            .item-depth {
                background-color: #93b5ed;
                &:before {
                    background-position: 0 -160px;
                }
            }
        }
        .item4 {
            .item-depth {
                background-color: #fa9b85;
                &:before {
                    background-position: -120px -160px;
                }
            }
        }
        > li:hover .item-depth {
            display: block;
        }
    }
}
// 공지사항
.main-board {
    @include clearfix;
    width: 1200px;
    margin: 55px auto 0;
    .board-inner {
        margin: 0 -19px;
    }
    .board-box {
        position: relative;
        float: left;
        width: 33.33%;
        padding: 0 19px;
        .more {
            position: absolute;
            top: 0;
            right: 28px;
            font-weight: bold;
            font-size: 30px;
            line-height: 42px;
            color: #fff;
        }
    }
    h3 {
        padding: 11px 0 9px;
        text-align: center;
        &:after {
            display: block;
            height: 22px;
            margin: auto;
            background: url("../images/sprite-text.png") no-repeat 0 0;
            content: '';
        }
    }
    .board1 {
        h3 {
            background-color: #77aa0a;
            &:after {
                width: 80px;
                background-position: 0 0;
            }
        }
    }
    .board2 {
        h3 {
            background-color: #286cdb;
            &:after {
                width: 127px;
                background-position: 0 -40px;
            }
        }
    }
    .board3 {
        h3 {
            background-color: #fd8a03;
            &:after {
                width: 73px;
                background-position: 0 -80px;
            }
        }
    }
    .board-list {
        margin-top: 15px;
        li {
            @include clearfix;
            padding: 0 10px;
            font-size: 14px;
            line-height: 44px;
            a {
                display: block;
                overflow: hidden;
                float: left;
                width: 250px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .date {
                float: right;
                font-size: 13px;
            }
        }
    }
}

// 유관부서
.main-department {
    position: relative;
    width: 1200px;
    margin: 60px auto 114px;
    padding: 0 50px;
    .slick-slide {
        text-align: center;
    }
    .slick-arrow {
        position: absolute;
        top: 8px;
        width: 14px;
        height: 25px;
        background: url("../images/sprite-icon.png") no-repeat 0 0;
        font-size: 0;
    }
    .slick-prev {
        left: 0;
        background-position: -40px 0;
    }
    .slick-next {
        right: 0;
        background-position: -80px 0;
    }
}

/*******************************
    Helper Class
*******************************/
.clearfix {
    @include clearfix;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}