@import "variables";
@import "reset";
@import "mixins/mixins";
@import "component/component";

/*******************************
    Scaffolding
*******************************/
body {
    background-color: $body-bg;
    font: 400 $font-size-base $font-family-base;
}
a,
a:hover {
    color: $text-color;
    text-decoration: none;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/*******************************
    Layout
*******************************/
.wrap {
    @include clearfix;
    width: 100%;
    min-width: 1200px;
}
.content {}
.container {
    width: 1200px;
    margin: 0 auto 224px;
}

/*******************************
    Header
*******************************/
.header {
    padding-top: 14px;
    .header-inner {
        @include clearfix;
        width: 1200px;
        margin: 0 auto;
    }
    .logo {
        float: left;
        a {
            display: block;
            width: 399px;
            height: 49px;
            background: url("../images/logo.png") no-repeat 0 0;
        }
    }
    .quick-access {
        float: right;
        margin-top: 10px;
        .access-link {
            float: left;
            margin: 5px 18px 5px 0;
            li {
                display: inline-block;
                font-size: 12px;
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 8px 0 6px;
                    background-color: #838383;
                    border-right: 1px solid #c7c7c7;
                    vertical-align: -1px;
                    content: '';
                }
                &:first-child:before {
                    width: 0;
                    border-right: 0;
                }
            }
        }
        .search-box {
            float: left;
            margin-top: -8px;
            padding: 4px 24px 4px 4px;
            border: 1px solid #ddd;
            .form-control {
                line-height: 17px;
            }
        }
    }
}
.sub-top {
    height: 432px;
    margin-top: 18px;
    background: url("../images/bg-gnb.jpg") no-repeat 50% 0;
    .gnb-wrap {
        max-width: 1900px;
        margin: 0 auto;
        background-color: rgba(255,139,2,.3);
        .gnb {
            @include clearfix;
            width: 1200px;
            margin: 0 auto;
            padding: 20px 0;
            li {
                float: left;
                width: 20%;
                font-weight: bold;
                font-size: 22px;
                text-align: center;
                a {
                    color: $gray-dark;
                }
                &.active, &:hover {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    .sub-text {
        width: 1200px;
        margin: 170px auto 0;
        font-weight: bold;
        font-size: 40px;
        color: #666;
        strong {
            display: block;
            margin-top: 5px;
            font-size: 57px;
            color: #ff8b02;
        }
    }
}

/*******************************
    Footer
*******************************/
.footer {
    padding: 30px 0;
    background-color: #393939;
    .footer-inner {
        @include clearfix;
        width: 1200px;
        margin: 0 auto;
    }
    .foot-logo {
        float: left;
        display: block;
        width: 265px;
        height: 46px;
        background: url("../images/foot-logo.png") no-repeat 0 0;
    }
    .foot-info {
        float: left;
        margin-left: 90px;
        &, a {
            color: #ddd;
        }
        .foot-link {
            @include clearfix;
            margin-bottom: 15px;
            li {
                float: left;
                font-size: 13px;
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 10px;
                    border-right: 1px solid #656565;
                    background-color: #c7c7c7;
                    content: '';
                }
                &:first-child:before {
                    width: 0;
                    margin: 0;
                    border-right: 0;
                }
                &.privacy {
                    a {
                        color: #04cafc;
                    }
                }
            }
        }
        dl {
            @include clearfix;
            dt, dd {
                float: left;
                line-height: 25px;
            }
            dd {
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 10px;
                    border-right: 1px solid #656565;
                    background-color: #c7c7c7;
                    content: '';
                }
                &:nth-of-type(1):before {
                    width: 0;
                    margin: 0;
                    border-right: 0;
                }
                address {
                    display: inline-block;
                    font-style: normal;
                }
            }
        }
        .copyright {}
    }
}

/*******************************
    Common
*******************************/
.section {
    margin-bottom: 80px;
}
.border-box {
    border: 1px solid #ddd;
    border-top: 2px solid $gray-dark;
}
.title-box {
    @include clearfix;
    padding: 80px 0 50px;
    .page-title {
        float: left;
    }
    .location {
        float: right;
    }
}
.page-title {
    font-size: 50px;
}
.second-title {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: $font-family-second;
    &:before {
        @include sp-icon(-200px,0);
        @include sp-size(25px,25px);
        margin-right: 6px;
        vertical-align: -5px;
        content: '';
    }
}
.location {
    margin-top: 35px;
    li {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        &:before {
            display: inline-block;
            margin: 0 10px 0 8px;
            color: #888;
            content: '>';
        }
        a {
            color: #888;
        }
        &.home {
            text-transform: capitalize;
            &:before {
                @include sp-icon(-120px,0);
                @include sp-size(19px,17px);
                margin-right: 5px;
                vertical-align: -2px;
                content: '';
            }
        }
        &.current {
            a {
                color: $gray-dark;
            }
        }
    }
}
.search-box {
    position: relative;
    display: inline-block;
    padding: 4px 24px 4px 4px;
    border: 1px solid #aaa;
    vertical-align: middle;
    .form-control {
        border-width: 0;
        line-height: 23px;
    }
    .btn-search {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4px;
        margin: auto;
    }
}
// 서브 2뎁스 탭메뉴
.tab-wrap {
    background: url("../images/bg-tab.jpg") no-repeat 50% 0;
    .tab {
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: 1200px;
        margin: 0 auto;
        li {
            display: table-cell;
            border: 2px solid #ddd;
            a {
                display: block;
                height: 50px;
                //padding: 17px 0 12px;
                font: bold 18px/54px $font-family-second;
                color: $gray-dark;
                text-align: center;
                line-height: 48px\9;
            }
            &:hover, &.active {
                background-color: #ff8b02;
                a {
                    color: #fff;
                }
            }
        }
    }
}
// 탭메뉴
.tabs {
    @include clearfix;
    margin: 0 -2px 50px;
    li {
        float: left;
        width: 10%;
        padding: 0 2px;
        a {
            display: block;
            padding: 9px 0 6px;
            border: 1px solid #d9d9d9;
            border-bottom: 3px solid #d9d9d9;
            background-color: #f3f3f3;
            font: bold 18px $font-family-second;
            color: $gray-dark;
            letter-spacing: -1.3px;
            text-align: center;
            padding: 6px 0 9px\9;
            font-size: 17px\9;
            letter-spacing: -2.7px\9;
        }
    }
    ~ .tab-content {
        display: none;
        &.regional1, &.industry1 {
            display: block;
        }
    }
}
.page-text {
    margin-bottom: 50px;
    font: bold 22px $font-family-second;
}
.image-shadow {
    @include box-shadow(2px 4px 11px #777);
}
.text-blue {
    color: $brand-primary;
}
.text-red {
    color: $brand-danger;
}

/*******************************
    Main
*******************************/
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: auto;
    @include clearfix;
}
.slick-slide {
    float: left;
    height: 100%;
    display: none;
    .slick-initialized & {
        display: block;
    }
}
.main-visual {
    overflow: hidden;
    position: relative;
    max-width: 1903px;
    min-width: 1200px;
    margin: 28px auto 0;
    border-top: 1px solid #ccc;
    background: url("../images/bg-main-visual.jpg") no-repeat 50% 0;
    .slick-slide {
        height: 410px;
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        right: 50%;
        margin-right: -525px;
        li {
            display: inline-block;
            padding: 0 4px;
            button {
                width: 14px;
                height: 14px;
                @include border-radius(50%);
                background-color: #acacad;
                font-size: 0;
                line-height: 17px;
            }
            &.slick-active button {
                background-color: #73a2ef;
            }
        }
    }
}
// 메인 메뉴
.main-gnb {
    width: 1200px;
    margin: 39px auto 0;
    .gnb-item {
        @include clearfix;
        margin: 0 -19px;
        > li {
            position: relative;
            float: left;
            width: 25%;
            padding: 0 19px;
            > a {
                display: block;
                padding: 45px 0;
                border: 5px solid #ccc;
                background-color: #ffeded;
                font-weight: bold;
                font-size: 21px;
                color: #3e3d3d;
                text-align: center;
                &:before {
                    display: block;
                    width: 87px;
                    height: 84px;
                    margin: 0 auto 25px;
                    background: url("../images/sprite-icon.png") no-repeat 0 0;
                    content: '';
                }
            }
            &.item1 a:before {
                background-position: 0 -40px;
            }
            &.item2 a:before {
                background-position: -120px -40px;
            }
            &.item3 a:before {
                background-position: 0 -160px;
            }
            &.item4 a:before {
                background-position: -120px -160px;
            }
        }
        .item-depth {
            display: none;
            position: absolute;
            top: 0;
            left: 19px;
            width: 275px;
            height: 100%;
            padding: 45px 14px 45px 115px;
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 14px;
                width: 87px;
                height: 84px;
                margin: auto;
                background: url("../images/sprite-icon.png") no-repeat 0 0;
                content: '';
            }
            strong {
                display: inline-block;
                margin-bottom: 11px;
                padding-bottom: 6px;
                border-bottom: 1px solid #fff;
                font-size: 21px;
                color: #fff;
                letter-spacing: -1px;
            }
            li {
                padding-left: 3px;
                line-height: 24px;
                &:before {
                    display: inline-block;
                    width: 1px;
                    height: 1px;
                    margin-right: 8px;
                    background-color: #fff;
                    vertical-align: super;
                    content: '';
                }
                a {
                    font-size: 15px;
                    color: #fff;
                    &:hover {
                        color: $gray-dark;
                    }
                }
            }
        }
        .item1 {
            .item-depth {
                background-color: #ffc96c;
                &:before {
                    background-position: 0 -40px;
                }
            }
        }
        .item2 {
            .item-depth {
                background-color: #bbd484;
                &:before {
                    background-position: -120px -40px;
                }
            }
        }
        .item3 {
            .item-depth {
                background-color: #93b5ed;
                &:before {
                    background-position: 0 -160px;
                }
            }
        }
        .item4 {
            .item-depth {
                background-color: #fa9b85;
                &:before {
                    background-position: -120px -160px;
                }
            }
        }
        > li:hover .item-depth {
            display: block;
        }
    }
}
// 공지사항
.main-board {
    @include clearfix;
    width: 1200px;
    margin: 55px auto 0;
    .board-inner {
        margin: 0 -19px;
    }
    .board-box {
        position: relative;
        float: left;
        width: 33.33%;
        padding: 0 19px;
        .more {
            position: absolute;
            top: 0;
            right: 28px;
            font-weight: bold;
            font-size: 30px;
            line-height: 42px;
            color: #fff;
        }
    }
    h3 {
        padding: 11px 0 9px;
        text-align: center;
        &:after {
            display: block;
            height: 22px;
            margin: auto;
            background: url("../images/sprite-text.png") no-repeat 0 0;
            content: '';
        }
    }
    .board1 {
        h3 {
            background-color: #77aa0a;
            &:after {
                width: 80px;
                background-position: 0 0;
            }
        }
    }
    .board2 {
        h3 {
            background-color: #286cdb;
            &:after {
                width: 127px;
                background-position: 0 -40px;
            }
        }
    }
    .board3 {
        h3 {
            background-color: #fd8a03;
            &:after {
                width: 73px;
                background-position: 0 -80px;
            }
        }
    }
    .board-list {
        margin-top: 15px;
        li {
            @include clearfix;
            padding: 0 10px;
            font-size: 14px;
            line-height: 44px;
            a {
                display: block;
                overflow: hidden;
                float: left;
                width: 250px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .date {
                float: right;
                font-size: 13px;
            }
        }
    }
}

// 유관부서
.main-department {
    position: relative;
    width: 1200px;
    margin: 60px auto 114px;
    padding: 0 50px;
    .slick-slide {
        text-align: center;
    }
    .slick-arrow {
        position: absolute;
        top: 8px;
        width: 14px;
        height: 25px;
        background: url("../images/sprite-icon.png") no-repeat 0 0;
        font-size: 0;
    }
    .slick-prev {
        left: 0;
        background-position: -40px 0;
    }
    .slick-next {
        right: 0;
        background-position: -80px 0;
    }
}

/*******************************
    연합회소개
*******************************/
// 인사말
.greeting {
    .slogan {
        margin-bottom: 60px;
        font-size: 48px;
        line-height: 60px;
        strong {
            color: #02a6fd;
        }
    }
    .image-president {
        float: right;
        padding: 40px 28px 50px 50px;
        img {
            @include box-shadow(7px 7px 14px #dcd2c6);
        }
    }
    .text-greeting {
        font-size: 20px;
        line-height: 36px;
        color: #444;
        p {
            margin-bottom: 40px;
        }
        .president-name {
            float: right;
            margin-top: 25px;
            font-size: 32px;
            color: #000;
        }
    }
}
// 연혁
.history {
    border-bottom: 1px solid #eee;
    dd {
        position: relative;
        display: table;
        width: 100%;
        min-height: 185px;
        padding-left: 200px;
        border-top: 1px solid #eee;
        .year {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 125px;
            height: 125px;
            margin: auto;
            border: 9px solid #01a7fd;
            @include border-radius(50%);
            background-color: #555864;
            font-weight: bold;
            font-size: 27px;
            line-height: (125-18)/27;
            color: #fff;
            text-align: center;
            &.history19 {
                border-color: #9fd817;
            }
        }
        .history-list {
            display: table-cell;
            padding: 15px 0;
            vertical-align: middle;
            li {
                font-size: 20px;
                line-height: 30px;
                color: #444;
                span {
                    display: inline-block;
                    width: 135px;
                }
            }
        }
    }
}
// 조직현황
.organization {
    padding: 100px 0 245px;
    border: 2px solid #eee;
    background: url("../images/organization-bg-gradient.gif") repeat-x 0 0;
    @include border-radius(100px);
    @include box-shadow(1px 5px 15px 0px #cdcdcd);
    &:before {
        display: block;
        width: 1055px;
        height: 603px;
        margin: 0 auto;
        background: url("../images/organization.jpg") no-repeat 0 0;
        content: '';
    }
}
// 오시는 길
.map {
    width: 1200px;
    height: 463px;
    border: 1px solid #ddd;
}
.contact-box {
    margin-top: 55px;
    .second-title {
        font-size: 35px;
        &:before {
            width: 36px;
            height: 37px;
            background-position: -240px 0;
        }
    }
    .contact-list {
        margin-top: 10px;
        padding-left: 42px;
        font-size: 20px;
        line-height: 45px;
        color: $gray-dark;
    }
}

/*******************************
    회원현황
*******************************/
.classify-content {
    &.industry {
        display: none;
    }
}

/*******************************
    교육안내 및 신청
*******************************/
// 교육 목표 및 방향
.edu-purpose {
    width: 1200px;
    height: 904px;
    margin: 60px 0 167px;
    background: url("../images/purpose1.jpg") no-repeat 0 0;
}
.edu-direction {
    width: 1200px;
    height: 1336px;
    background: url("../images/purpose2.jpg") no-repeat 0 0;
}
// 교육 과정 안내
.info-content {
    padding-left: 57px;
    li {
        font-size: 20px;
        line-height: 30px;
        color: #555;
        text-indent: -24px;
        &:before {
            display: inline-block;
            width: 0;
            height: 0;
            margin-right: 10px;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-left: 13px solid #77aa0a;
            content: '';
        }
    }
}
.apply-process {
    width: 1200px;
    height: 227px;
    margin-top: 35px;
    background: url("../images/apply-process.jpg") no-repeat 0 0;
}
// 교육신청
.btn-apply-box {
    .btn {
        width: 160px;
    }
}
// 교육신청 완료
.apply-complete-wrap {
    margin: 150px 0 100px;
}
.apply-complete {
    @include clearfix;
    width: 912px;
    margin: 0 auto 50px;
    padding: 88px 70px 70px;
    border: 1px solid #ddd;
    @include border-radius(8px);
    background: url("../images/bg-gradient.gif") repeat-x 0 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    color: $gray-dark;
    &:before {
        float: left;
        display: inline-block;
        @include sp-size(292px,223px);
        margin: -20px 55px 0 0;
        background: url("../images/icon-computer.png") no-repeat 0 0;
        content: '';
    }
    strong {
        font-size: 25px;
    }
}

/*******************************
    커뮤니티
*******************************/
// 게시판
.board-search {
    float: right;
    margin: 60px 0 20px;
    .selectbox {
        float: left;
        .selectbox-value {
            font-size: 16px;
            line-height: (33-2)/16;
        }
    }
    .search-input {
        float: left;
        margin-left: 10px;
        .form-control {
            width: 208px;
        }
    }
}
td.subject {
    padding-left: 17px;
    padding-right: 17px;
    text-align: left;
    a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.attachment {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../images/sprite-icon.png") no-repeat -320px 0;
    font-size: 0;
    color: transparent;
    vertical-align: top;
}
// 이미지 게시판
.image-board {
    @include clearfix;
    clear: both;
    margin: 0 -35px -50px -35px;
    li {
        float: left;
        width: 25%;
        padding: 0 37px 50px 37px;
        font-size: 20px;
        &:nth-child(4n+1) {
            clear: left;
        }
        img {
            width: 100%;
            border: 1px solid #ddd;
        }
        .title {
            overflow: hidden;
            margin: 10px 0 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $gray-dark;
            text-align: center;
        }
        .gallery-info {
            .title {
                text-align: left;
            }
        }
        .date {
            color: #aaa;
        }
    }
}

/*******************************
    로그인
*******************************/
.signin {
    padding-top: 65px;
    border-top: 4px solid $gray-dark;
    border-bottom: 2px solid #ddd;
    text-align: center;
    .text {
        margin-bottom: 65px;
        font-size: 26px;
        color: $gray-dark;
    }
    .clearfix {
        display: inline-block;
    }
    .signin-input {
        float: left;
        margin-right: 13px;
        li {
            margin-top: 15px;
            font-size: 22px;
            &:first-child {
                margin-top: 0;
            }
            label {
                display: inline-block;
                width: 110px;
                line-height: 50px;
                text-align: left;
                vertical-align: middle;
            }
            .form-control {
                width: 376px;
                height: 50px;
                line-height: 46px;
                border: 2px solid #ddd;
            }
        }
    }
    .btn-signin {
        float: left;
        padding: 0 66px;
        background-color: #286cdb;
        font: bold 24px/115px $font-family-second;
        color: #fff;
    }
}
.member-access-box {
    margin-top: 90px;
    padding: 35px 0;
    border-top: 2px solid #ddd;
    background-color: #fafafa;
}
.member-access {
    width: 720px;
    margin: 0 auto;
    text-align: left;
    li {
        @include clearfix;
        padding: 7px 0;
        font-size: 20px;
        line-height: 50px;
    }
    .btn {
        float: right;
        width: 278px;
        font: bold 21px/48px $font-family-second;
        &.btn-arrow {
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 16px;
                margin: auto;
            }
        }
    }
}
// 아이디찾기
.text-qna {
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    .telephone {
        display: block;
        padding: 12px 0 0 19px;
        &:before {
            @include sp-size(41px,41px);
            @include sp-icon(-320px,-120px);
            margin-right: 12px;
            vertical-align: middle;
            content: '';
        }
    }
}

/*******************************
    회원가입
*******************************/
.signup-process {
    display: table;
    width: 100%;
    margin-bottom: 56px;
    li {
        display: table-cell;
        padding: 33px 0;
        border: 2px solid #aaa;
        border-width: 2px 0 4px;
        font: bold 27px/50px $font-family-second;
        color: #555;
        text-align: center;
        &:before {
            float: left;
            @include sp-size(50px,50px);
            @include sp-icon(-400px,0);
            vertical-align: middle;
            content: '';
        }
        &:first-child:before {
            width: 0;
            background: none;
        }
        &.current {
            position: relative;
            color: #286cdb;
            &:after {
                position: absolute;
                bottom: -4px;
                left: 50px;
                width: calc(100% - 50px);
                height: 4px;
                background-color: #286cdb;
                content: '';
            }
            &:first-child:after {
                left: 0;
                width: 100%;
            }
        }
    }
}
.btn-signup {
    .btn {
        width: 225px;
        font-size: 25px;
        &:after {
            vertical-align: -3px;
        }
    }
}
// 회원이용약관
.agreement-box {
    overflow-y: auto;
    width: 1200px;
    height: 297px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #606060;
    line-height: 28px;
}
.check-agree {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #444;
}
// 본인확인
.identification {
    padding: 70px 0;
    border-top: 4px solid $gray-dark;
    border-bottom: 2px solid #aaa;
}
.text-identification {
    margin-top: 30px;
    padding-left: 12px;
    font: bold 21px/27px $font-family-second;
    color: #777;
    text-indent: -12px;
}
.mobile-confirm {
    width: 546px;
    margin: 0 auto;
    padding: 0 25px;
    border: 2px solid #ddd;
    border-top-color: $gray-dark;
    text-align: center;
    dt {
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        font-size: 23px;
        &:before {
            @include sp-size(30px,51px);
            @include sp-icon(-320px,-40px);
            margin-right: 14px;
            vertical-align: middle;
            content: '';
        }
    }
    dd {
        padding: 35px 0 30px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        .btn {
            width: 280px;
            margin-top: 35px;
        }
    }
}
// 개인정보입력
.text-essential {
    margin: 5px 0;
    font: bold 22px $font-family-second;
    color: $gray-dark;
    text-align: right;
}
.check-id {
    display: inline-block;
    height: 50px;
    padding: 0 10px;
    border: 2px solid #aaa;
    background: url("../images/bg-btn-gradient.gif") repeat-x 0 0;
    line-height: 46px;
    vertical-align: middle;
    line-height: 42px\9;
}
.address {
    p {
        margin-top: 7px;
        &:first-child {
            margin-top: 0;
        }
    }
    .btn-zipcode {
        display: inline-block;
        height: 34px;
        line-height: 30px;
        border: 2px solid #aaa;
        background-color: #ddd;
        color: #000;
        vertical-align: middle;
        line-height: 24px\9;
        &:hover, &:active {
            border-color: #2f6495;
            background-color: #4ca1f0;
        }
    }
    .form-control {
        width: 250px;
        height: 34px;
        line-height: 30px;
        border: 2px solid #aaa;
    }
}
.caution {
    margin-left: 20px;
}
.check-industry {
    label {
        float: left;
        margin-right: 35px;
        padding: 10px 0;
        &:nth-child(6n+1) {
            clear: left;
        }
    }
}
.btn-signup-input {
    margin-top: 62px;
    .btn {
        width: 200px;
    }
}
// 가입완료
.signup-complete {
    width: 967px;
    margin: 0 auto 50px;
    padding: 75px 0 85px;
    border: 2px solid #ddd;
    font-size: 20px;
    color: #666;
    text-align: center;
    strong {
        display: block;
        margin-bottom: 40px;
        font-size: 26px;
        color: $gray-dark;
    }
}
.btn-signup-complete {
    .btn {
        width: 313px;
        font-weight: bold;
        font-size: 21px;
    }
}

/*******************************
    마이페이지
*******************************/
.state-board {
    th, td {
        border: 0;
        border-bottom: 1px solid #ddd;
    }
    th {
        padding: 24px 0;
        background-color: #fff;
    }
    td {
        padding: 40px 0;
        font-weight: bold;
        color: $brand-primary;
        &:first-child {
            color: $gray-dark;
        }
    }
}
.btn-delete {
    display: inline-block;
    width: 141px;
    height: 45px;
    background: url("../images/btn-delete.gif") no-repeat 0 0;
}
.leave-id {
    width: 973px;
    height: 259px;
    margin: 100px auto 45px;
    padding: 85px 0 75px;
    border: 2px solid #aaa;
    font-size: 23px;
    text-align: center;
    p {
        margin-top: 43px;
    }
}
.btn-leave {
    .btn {
        width: 204px;
        font-size: 23px;
    }
}

/*******************************
    사이트맵
*******************************/
.sitemap {
    @include clearfix;
    margin: 0 -15px;
    > li {
        float: left;
        width: 20%;
        padding: 0 15px;
    }
    h3 {
        border-top: 4px solid $brand-primary;
        border-bottom: 2px solid #ddd;
        font-size: 20px;
        a {
            display: block;
            padding: 15px;
            color: $brand-primary;
        }
    }
    .site-link {
        li {
            border-bottom: 2px solid #ddd;
            font-size: 18px;
            a {
                display: block;
                padding: 10px 15px;
                color: $gray;
                &:hover {
                    background-color: #f6f6f6;
                    font-weight: bold;
                    color: #444;
                }
            }

        }
    }
}

/*******************************
    Helper Class
*******************************/
.clearfix {
    @include clearfix;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}